<div class="marquee">
    <div class="marquee--inner">
        <div class="marquee--clone">
            <div>DANGER IT'S A MARQUEE</div>
            <div>DANGER IT'S A MARQUEE</div>
        </div>
        <div class="marquee--clone">
            <div>DANGER IT'S A MARQUEE</div>
            <div>DANGER IT'S A MARQUEE</div>
        </div>
        <div class="marquee--clone">
            <div>DANGER IT'S A MARQUEE</div>
            <div>DANGER IT'S A MARQUEE</div>
        </div>
    </div>
</div>