:root {
  --color-text: black;
  --color-text-shadow: white;
  --color-accent: rgba(255, 159, 194, 1);
  --color-accent-transparent: rgba(255, 159, 194, 0);
  --image-bg: linear-gradient(
    to bottom,
    var(--color-accent-transparent),
    white
  );
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.15em;

  color: var(--color-text);
  text-shadow: var(--color-text-shadow) 0 0 0.25em;

  /* background: repeat-x bottom/55vh url("/images/pattern.svg"), var(--image-bg); */
  background: var(--color-accent);

  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

main {
  height: 100%;

  overflow-x: hidden;
  background: repeat-x bottom/55vh url("/images/pattern.svg"), var(--image-bg);
}

.content-wrapper {
  margin: auto;

  max-width: 33ch;

  position: relative;
}

#momo-pc-logo * {
  fill: var(--color-accent);
}

.message--box,
.buttons--box {
  margin: 2rem 1.5rem;
}

.message--name--box {
  display: flex;
}

input[type="text"] {
  margin: 0 0.5rem;
}

input[type="text"],
textarea {
  min-width: 0;

  appearance: none;
  background: rgba(255, 255, 255, 0.25);

  font: inherit;
  text-shadow: inherit;

  border: 0;
  border-radius: 0.5rem;

  padding: 0.25rem 1rem;
}

.momo-pc--box {
  background: white;
  border-radius: 1.5rem;

  margin: 1rem 0;
  padding: 0.5rem;

  display: flex;
  justify-content: flex-end;

  height: 100vh;
  max-height: 40vh;

  position: relative;
  z-index: 1;
}

.momo-pc--textarea {
  background: var(--color-accent);

  margin: 0 -0.15rem -0.15rem 1rem;
  padding: 0.5rem 1rem;

  color: white;
  text-shadow: none;

  border-radius: 1rem;
}

.momo-pc--logo {
  flex-grow: 1;
  display: flex;

  justify-content: flex-start;
  align-items: flex-end;

  position: relative;
  bottom: 1.5rem;
  left: 0.25rem;
}

button {
  position: relative;

  appearance: none;
  border: none;
  background: none;

  color: black;

  font: inherit;
  font-size: 1rem;

  background: lime;

  border: 2px solid white;

  border-radius: 0.75rem;

  padding: 0.25rem 2rem;
}

.buttons--background {
  position: absolute;
  inset: 0;

  box-shadow: inset 0px 12px 16px 2px var(--color-accent);
  border-radius: inherit;

  mix-blend-mode: screen;

  z-index: 0;
}

.buttons--foreground {
  position: relative;
  z-index: 1;

  opacity: 0.75;
  mix-blend-mode: multiply;
}

.face--box {
  border-radius: 999px;
  background: white;

  width: 5rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-accent);

  position: absolute;

  bottom: -25%;
  left: 10%;

  z-index: 50;

  transform: rotate(25deg);
}

.star {
  position: absolute;
  right: -4rem;
  top: 0rem;
  z-index: 0;
}

.message--textarea--box {
  display: flex;
  flex-flow: column nowrap;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  width: 3rem;
  height: 3rem;
}
