---
title: MOMO'S WONDERLAND
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{  title  }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
    <link href="styles/your_animations.css" rel="stylesheet">
    <script async src="js/your_code.js"></script>
</head>
<body>
    <main>
        <div class="content-wrapper">
            <article class="message--box">
                <div class="message--name--box">
                    <label for="name">Name:</label>
                    <input disabled type="text" id="name" value="MOMO">
                </div>
                <div>
                    <label for="message">Message:</label>
                    <div class="momo-pc--box">
                        <div class="momo-pc--logo">{% render "assets/images/momo_logo.svg" %}</div>
                        <textarea disabled id="message" class="momo-pc--textarea">asdf</textarea>
                    </div>
                </div>
            </article>
            <section class="buttons--box">
                <button><div class="buttons--foreground">Green</div><div class="buttons--background"></div></button>
            </section>
            <div class="face--box">^_^</div>
        </div>
        <div>DANGER IT'S A MARQUEE</div>
    </main>
</body>
</html>